  <link rel="stylesheet" href="/public/css/stores/store.css">
  <h1>{{ stores.storeName }}</h1>
  <h2>Address</h2>
  <p>{{ stores.address }}</p>
  <h2>Phone</h2>
  <p>{{stores.phone_no}}</p>
  <h2>Email</h2>
  <p>{{stores.email}}</p>

  <a href="/prod/addItem/{{stores._id}}">Add Item</a>
   <h1>Items</h1>
  {{#each storeProds}}  
      <h2><a href="/prod/id/storeverison/{{_id}}">{{Pname}}</a></h2>
      <p>{{feedback}}</p>
  {{/each}}

  
