<h1>AddItem</h1>
<form action="/prod/addItem" method="POST">
    <label>
        Prod Name
        <input type="text" name="Pname" placeholder="Prod Name" value="{{prod.Pname}}"/>
    </label>
    <label>
        S_id
        <input type="text" name="S_id" placeholder="S_id" value="{{prod.S_id}}"/>
    </label>
    <label>
        ingredients
        <input type="text" name="ingredients" placeholder="Ingredients" value="{{prod.ingredients}}"/>
    </label>
    <label>
        description
        <input type="text" name="description" placeholder="Description" value="{{prod.description}}"/>
    </label>
    <button type="submit">Add!</button>
</form>
{{#if hasErrors}}
<ul>
    {{#each errors}}
    <li>
        {{this}}
    </li>
    {{/each}}
</ul>
{{/if}}